.swiper-3d {
  perspective: 500px !important;
}
.body-web .swiper-3d {
  perspective: 1000px !important;
}
.mySwiper-portfolio .swiper-button-next,
.mySwiper-portfolio .swiper-button-prev {
  color: var(--white);
  position: absolute;
  transform: translateY(-50%);
  top: 16.5%;
}
@media (min-width: 1200px) {
  .mySwiper-portfolio .swiper-button-next,
  .mySwiper-portfolio .swiper-button-prev {
    color: var(--white);
    position: absolute;
    transform: translateY(-50%);
    top: 37.5%;
    width: 40%;
    transform: translateX(-43%);
  }
}
/* effects cube home page */

.cube .swiper-slide img {
  height: 100%;
  width: 100%;
}
