.body-cijene {
  padding: 0.5rem;
}
.cijene {
  padding-block: 2rem;
  padding-inline: 1rem;
  padding-bottom: 4rem;
}
.main-cijene {
  padding: 0.5rem;
}
.main-cijene .ui-wrapper {
  background-color: var(--low-white);
}
.cijene__inner-wrapper {
  display: grid;
  gap: 2rem;
  margin-bottom: 3rem;
}
.cijene.ui--wrapper-desktop::after {
  opacity: 0.2 !important;
}
.cijene-row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
.offer-card {
  padding-block: 2rem;
  padding-inline: 1rem;
  width: min(100%, 521px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5s;
}
.offer-card:hover {
  scale: 1.05;
}
.offer__list {
  display: grid;
  gap: 0.5rem;
  margin-bottom: 3rem;
}
.offer__item {
  line-height: 150%;
}
.price {
  margin-inline: auto;
  font-size: 1.5rem;
  border-radius: 100vmax;
  padding: 0.5rem 1rem;
  border: 2px solid var(--white);
  width: max-content;
}
.cijene__info {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  gap: 1rem;
  max-width: 600px;
  margin-inline: auto;
  margin-bottom: 2rem;
}
.cijene__bottom-wrapper {
  width: min(100%, 30rem);
  margin-inline: auto;
}
.cijene__info p {
  line-height: 200%;
}
.info-web-shop {
  padding: 10px;
}
.cijene-nav {
  width: 100%;
  margin-inline: auto;
}
.cijene-nav__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cijene-graficki-dizajn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}
.cijene-graficki-dizajn__row {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid hsla(0, 0%, 100%, 0.15);
  border-radius: 6px;
}
.cijene-graficki-dizajn__col {
  padding: 5px;
  flex: 1;
  border-radius: 3px;
  display: grid;
  place-items: center;
  min-width: 200px;
}
.first-row,
.third-row {
  width: min-content;
}
.first-row {
  background-color: hsla(0, 0%, 100%, 0.1);
}
.second-row {
  padding: 1rem;
}
.third-row {
  background-color: rgba(0, 128, 0, 0.264);
}
.cijene-nav + .ui-wrapper::after {
  background: unset;
}
.upitnik-wrapper {
  padding: 2rem;
  margin-bottom: 2rem;
  outline: 1px solid var(--white);
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
  .cijene {
    padding-inline: 2rem;
  }
}
