.main-graph {
  margin-bottom: 3rem;
  min-height: 37vh;
}
.grafika .ui-wrapper {
  padding: 1rem;
}
.grafika__projects-inner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}
.grafika__projects-btn-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  gap: 1rem;
}
.grafika__projects-inner-wrapper
  > .layout-btn[data-active="true"]
  + .grafika__projects-btn-wrapper {
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
}
.grafika__projects-inner-wrapper
  > .layout-btn[data-active="false"]
  + .grafika__projects-btn-wrapper {
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
@media (min-width: 600px) {
  .grafika__projects-inner-wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
  .grafika__projects-btn-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}
