.body-home {
}
.body-home .main {
  margin-bottom: unset;
  padding: 0.5rem;
  padding-top: 80px;
}
.hero__headine-wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.headline,
.subheadline {
  text-transform: uppercase;
  text-align: center;
}
.headline {
  font-size: clamp(2rem, 8vw, 5rem);
  margin-bottom: 1rem;
}
.hero-website {
  position: absolute;
  width: min(79%, 30rem);
  bottom: -130px;
  transform: translateX(-50%);
  left: 50%;
}
.dot {
  position: absolute;
  width: 5px;
  aspect-ratio: 1;
  background-color: transparent;
  bottom: 6rem;
}
.video-background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0.05;
  pointer-events: none;
}
.hero.ui-wrapper {
  background-color: hsla(246, 100%, 48%, 0.05);
}
.hero {
  position: relative;
  height: 89%;
  perspective: 1000px;
  margin-bottom: 3rem;
}
@media (min-width: 1024px) {
  .hero__headine-wrapper {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
  }
}
.hero.ui-wrapper::before {
  background: linear-gradient(
    150deg,
    hsl(211deg 100% 51% / 3%) 50%,
    hsla(0, 0%, 100%, 0) 0
  );
  border-radius: 6px;
  content: "";
  inset: 0;
  position: absolute;
  z-index: -1;
}
.hero.ui-wrapper::after {
  background: unset;
}
/* section ponuda */

.ponuda {
  padding-block: 3rem;
  margin-bottom: 3rem;
}
.ponuda__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.ponuda-box {
  border: 1px solid rgba(255, 255, 255, 0.162);
  border-radius: 6px;
  background: linear-gradient(to right, hsla(0, 0%, 100%, 0.1), transparent);
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.offer-icon {
  height: 100%;
  width: 100%;
}
@media (min-width: 1024px) {
  .ponuda__wrapper {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }
  .offer-icon {
  }
}
/* section portfolio */

.portfolio {
  padding-block: 4rem;
  margin-bottom: 3rem;
}
.portfolio__wrapper {
  display: flex;
}
.portfolio__btns-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

/* section ad */
.ad {
  overflow: hidden;
  grid-column: 1;
  border-radius: 6px;
  height: 400px;
  margin-bottom: 3rem;
}
.ad-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

@media (min-width: 1200px) {
  .primary-nav--width {
    position: fixed;
    max-width: 1024px;
    transform: translateX(-50%);
    left: 50%;
    bottom: 7rem;
    height: 80%;
  }
}
/* section upitnik */

.upitnik {
  padding-block: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
}
.upitnik .upitnik-wrapper {
  margin-bottom: 0 !important;
}
.upitnik__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.upitnik__inner-wrapper .upitnik-btn {
  margin-top: 0;
}
@media (min-width: 570px) {
  .upitnik__wrapper {
    flex-direction: row;
  }
}
