.body-usluge {
  padding: 0.5rem;
}
.usluge {
  position: relative;
  padding: 0.5rem;
}
.usluge .ui-wrapper {
  background-color: var(--low-mid-white);
}
.tab-article-content {
  display: flex;
  flex-direction: column;
}
.usluge .wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.usluge .wrapper .tab-text-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  flex: 1 1 300px;
}
.tab-text-wrapper img {
  width: 64px;
}
.tab-first-row img {
  margin-inline: auto;
}
.solutions__article-wrapper {
  display: grid;
  gap: 1.5rem;
}
.socials-tab-content {
  display: grid;
  gap: 1.5rem;
  transform: translateY(-110px);
}
/* web solutions modal */
.web-modal {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  background-color: hsla(0, 0%, 0%, 0.792);
  padding: 1rem;
  width: min(90vw, 30rem);
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem 5px hsl(205, 100%, 60%);
  outline: 2px solid hsl(240, 93%, 52%);
  transition: 0.3s;
}
.web-modal:hover {
  box-shadow: 0 0 1.5rem 5px hsl(205, 100%, 60%);
  outline: 5px solid hsl(234, 100%, 54%);
}
.web-modal img {
  order: 2;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
}
@media (min-width: 1024px) {
  .tab-content__wrapper {
    max-width: 900px;
    display: grid;
    place-items: center;
    margin-inline: auto;
  }
  .solutions__article-wrapper {
    display: grid;
    gap: 1.5rem;
    margin-inline: auto;
    width: min(100%, 700px);
  }
  .solutions__article-wrapper > * {
    width: 100%;
    max-width: unset;
  }
}
