:root {
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --low-white: hsla(0, 0%, 100%, 0.03);
  --low-mid-white: hsla(0, 0%, 100%, 0.05);
  --mid-white: hsla(0, 0%, 100%, 0.1);
  --footer-clr: hsla(0, 0%, 0%, 0.2);
  --border-mid-white: hsla(0, 0%, 100%, 0.1);
  --border-white: hsla(0, 0%, 100%, 0.2);
  --effect-linear-1: hsl(240, 71%, 12%);
  --effect-linear-2: hsla(240, 67%, 51%, 0.9);
  --overlay-clr: hsla(0, 0%, 0%, 0.8);
}
body.light-theme {
  --effect-linear-1: hsl(206, 53%, 82%);
  --effect-linear-2: hsla(240, 80%, 79%, 0.9);
  --mid-white: hsla(215, 55%, 44%, 0.23);
  --low-mid-white: hsla(215, 97%, 12%, 0.23);
  --low-white: hsla(241, 39%, 21%, 0.23);
  --border-mid-white: hsla(218, 98%, 39%, 0.101);
}
