@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");
body {
  color: var(--white);
  font-family: "Jura", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
p {
  line-height: 150%;
}
a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: var(--white);
  font-size: clamp(18px, 7vw, 40px);
}
.link {
  text-transform: uppercase;
}
.nav--link-heading {
  font-size: clamp(1.1rem, 2vw, 1.8rem);
}
.nav--link-bigger-heading {
  font-size: 1.5rem;
  font-size: clamp(1.4rem, 3vw, 2.6rem);
  font-weight: 600;
}
.h1-heading {
  text-transform: uppercase;
  font-size: 1.6rem;
  width: max-content;
}
.h1--heading--regulativa {
  width: min-content;
}
.h2-heading {
  text-transform: uppercase;
  font-size: 1.1rem;
}
.see-web-heading {
  font-size: 0.9rem;
}
.tab-heading {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.cijene-heading {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}
.proces-heading {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.o-nama-tech-heading {
  text-wrap: balance;
  font-size: 1.4rem;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}
.faq-heading {
  text-wrap: balance;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.kontakt .h2-heading {
  font-size: 1.5rem;
}
.kontakt-socials .h2-heading {
  margin-bottom: 1.5rem;
}
.cijene-tab-heading {
  position: relative;
  margin-inline: auto;
  font-size: 1.7rem;
  margin-bottom: 2rem;
}
.cijene-tab-heading::after {
  content: "";
  position: absolute;
  background-color: var(--white);
  height: 1px;
  width: 30%;
  display: block;
  bottom: -5px;
  left: 0;
  right: 0;
  margin-inline: auto;
}
.tab-btn {
  position: relative;
}
.tab-btn-heading {
  bottom: -31px;
  color: var(--white);
  font-size: 11px;
  left: 50%;
  line-height: 135%;
  margin-inline: auto;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  transform: translateX(-50%);
  pointer-events: none;
}
.h2-heading--home-page {
  position: relative;
  font-size: clamp(2rem, 7vw, 3rem);
  margin-bottom: 4rem;
  margin-left: 2rem;
}
.h2-heading--home-page::after {
  content: "";
  position: absolute;
  height: 75%;
  transform: translateY(-50%);
  top: 50%;
  left: -2rem;
  width: 3px;
  background-color: rgb(6, 97, 216);
  box-shadow: 0 0 10px 2px rgb(53, 53, 255);
}
.ponuda__heading {
  text-transform: uppercase;
  margin: auto;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  padding-inline: 10px;
}
.upitnik__heading {
  margin-bottom: 1.5rem;
}
.upitnik__paragraph {
  margin-bottom: 2rem;
  text-align: center;
  max-width: 600px;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .faq-heading {
    margin-bottom: 3rem;
  }
}
@media (min-width: 1024px) {
  .tab-heading {
    margin-bottom: 5rem;
    text-align: center;
  }
  .wrapper-nav-header .h1-heading {
    font-size: 2.5rem;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    width: max-content;
  }
  .h1--heading--regulativa {
    width: max-content;
  }
  .tab-btn-heading {
    bottom: -22px;
    color: var(--white);
    font-size: 12px;
    width: max-content;
    left: 50%;
    line-height: 135%;
    margin-inline: auto;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    transform: translateX(-50%);
  }
}
